<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Photo Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date Taken</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>
  <ion-button (click)="cameraService.addPhoto()">
    <ion-icon name="camera"></ion-icon>
    <ion-label>Add Photo or Take Photo</ion-label>
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of cameraService.photos; index as position">
        <ion-img src="{{photo.base64 ? photo.base64 : photo.webviewPath}}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button type="submit">Submit</ion-button>
  </ion-toolbar>
</ion-footer>
